#intuitive
    padding: 80px 0
    background: linear-gradient(to right, #2d36ef, #6528e8, #9b1ae2)
    .textbox
        width: 750px
        text-align: center
        h1
            color: #ffff
            font-size: 45px
    .box-logo
        display: flex
        justify-content: center
        align-items: center
        .imgbox
            margin-top: 20px
            width: 120px
            height: 80px
