body
    font-family: 'Dosis', sans-serif
    font-weight: 500
    

a
    color: orange
    &:hover
        color: black

.videobox
    .demo-video, .phone 
        width: 100%
        height: 100%