#showcase
    padding: 90px 0
    .box
        display: flex
        flex-direction: column
        .textbox
            width: 500px
            h1
                font-weight: 700
                font-size: 75px
                line-height: 1.2
            h3
                font-weight: 300
                font-size: 20px
                line-height: 1.3
                margin-top: 40px
                color: #bab8b6
        .play-app
            margin-top: 30px
            display: flex
            flex-direction: row
            width: 150px
            height: 50px
            .googleplay
                margin-right: 20px

    .box-show
        width: 100%
        height: 100vh
        position: relative
        .circle-box
            position: absolute
            top: 8%
            right: 11%
            .circle
                width: 400px
                height: 400px
                background: linear-gradient(to right, #2d36ef, #6528e8, #9b1ae2)
                border-radius: 50%
        .videobox
            position: relative
            position: absolute
            top: 0
            right: 20%
            width: 400px
            height: 600px
            .demo-video
                position: absolute
                width: 240px
                height: 480px
                top: 3%
                right: 5%
                object-fit: cover
                border-radius: 40px

            .phone
                z-index: 999
                position: absolute
                width: 260px
                height: 500px
                top: 2%
                right: 3%
        #exit
            position: absolute
            bottom: 140px
            left: 80px
            color: #2d36ef
            font-size: 20px
            font-weight: 900
            transform: rotate(165deg)
        #point
            position: absolute
            top: 60px
            right: 30px
            color: #2d36ef
            
            

